
.letra{
font-family: Gotham SSm A,Gotham SSm B,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.margen{
  margin-left: 5%;
}
.sub {
  font-weight: 500;
  font-size: .875rem;
  top: 0;
  padding-bottom: .5rem;
}
.tit {
  font-size: 1.75rem;
  margin-top: .125rem;
}

#macky {
  width: 100%;
  height: 27%;
}
.subir {
margin-top: 0;
}
.segundo {
  top: 10%;
  width: 40%;
  height: 25%;
}
.primer {
  width: 40%;
  height: 25%;
  top: -4%;

}

.videoDiv > video{
  width: 100%;
  height: 100%;
}

#textoVideo2{
  margin-top: 3.5%;
  margin-left: 65%;
  width: 23%;
  border: 1px solid black;
}

#video2{
  	margin-right: 30%;

}
