
.letra{
font-family: Gotham SSm A,Gotham SSm B,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.margen{
  margin-left: 5%;
}
.sub {
  font-weight: 500;
  font-size: .875rem;
  top: 0;
  padding-bottom: .5rem;
}
.tit {
  margin-top: .5rem;
  font-size: 1.75rem;
  margin-top: .125rem;
}

#macky {
  margin-top:60%;
  width: 100%;
  height: 27%;
}
.subir {
  top: -10%;
margin-bottom: 5%;
}
.segundo {
 top:20%;
  width: 40%;
  height: 25%;
}
.primer {
  top: 0;
  width: 40%;
  height: 25%;


}

.videoDiv > video{
  width: 100%;
  height: 100%;
}

#textoVideo2{
  margin-top: 3.5%;
  margin-left: 65%;
  width: 23%;
  border: 1px solid black;
}

#video2{
  	margin-right: 30%;

}

video {
  width: 100%;
  display: inline-block;

}
.primera {
  padding-bottom: : 0;
  margin-bottom: : 0;
}
#forma {
  background: #fff;
  position: absolute;
  margin-top: -45%;
  margin-left: 60%;
  align-content: center;
  padding: 3% 8% 3% 5%;
}

.titulos {
  color: #352384;
  font-size: 1.7rem;
  line-height: .5;
}

.letraChica {
  font-size: 15px;
}

.numero {
  margin-top: 10%;
  font-size: 15px;
  border: none;
}

.linea {
  width: 25rem;
  color: #352384;
}

.becomeDriver {
  font-size: 15px;
  display: inline-block;
  margin-top: 5%;
  padding: 5%;
  color: #fff;
  background: #ff00bf;
  border-radius: 10px;
}

.signUp {
  text-decoration: underline;
  margin-left: 5%;
  border: none;
  font-size: 15px;
  background: none;
  color: #728099;
}

.signUp:hover {
  color: #ff00bf;
}

.info {
  font-size: .7rem;
  color: #728099;
}
p>a {
  color:#ff00bf;
}

.infoAngie {
  width: 100%;
  display: flex;
  margin-top: 0;
  padding-top: 0;
  background: linear-gradient( to top,#2b1e66, #76278f);

}
.infoApp {
  color: #fff;
  display: block;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
}

h3 {
  font-size: 2rem;
}
.parrafo {
  margin-top: 10%;
  font-size: 1rem;
  line-height: 1.5;
}

div>img {
  margin-top: 25%;
  margin-left: 30%;
  width: 28rem;
 }

header{
	width: 100%;
	height: 20%;
	padding-top: 1%;
	padding-left: 2%;
	padding-bottom: 2%;
	border-color: #d8dce6;
	position: fixed;
}
li{
	list-style: none;
}
.link{
	text-decoration: none;
	margin-right:  2%;
	padding: 5px 8px 5px 10px;
}
a:hover{
	list-style: none;
}
.fondoBlanco{
	background-color: white;
}
.letraBlanca{
	color: white;
}
.letraRosa{
	color: #ff00bf;
}
.oculto{
	display: none;
}
.borde{
	border: solid #d8dce6 1px;
	border-radius: 10px 10px;
}
.bordeRosa{
	border: solid #ff00bf 1px;
	border-radius: 10px 10px;
}
.bordeBlanco{
	border: solid white 1px;
	border-radius: 10px 10px;
}
.contLogo{
	width: 7%;
}
.contNav{
	width: 55%;
	margin-top: 1%;
	font-size: 22px;

}
#video1{
  display: none;
}
.video{
  position: relative;
  width: 69%;


}
.textoVideo1{
  position: relative;
  width: 30%;

}
#imagenVideo1{
  width: 100%;
}

.limpar{
  clear: right;
}
a{
  text-decoration: none;

}
ul{
    list-style: none;
}
.flotarDer{
	float: right;
}
.flotarIzq{
	float: left;
}
.tamañoFoto{
	width: 100%;
	height: 100%;
}
.centrar{
	margin-left: 25%;
	margin-bottom: 5%;
}

.marginTop{
	margin-left: 20%;

}
.inline-bck{
	display: inline-block;
}
.footerback{
  background-color: #2a2730;
}
.tamañoDiv{
  width: 10%;
}
a,.letraBlanca{
  color: white;
}
.back{
  background-color: #352384;
}
input{
  border-width: 0;

}
#alexis{
	margin-top:30%
}	
