body, html{
	height: 100%;
	font-family: Helvetica ,Helvetica,Arial,Lucida,sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color:#333447;
}
div>h3{
	text-transform: uppercase;
}
.textoVideo{
	position: absolute;

	width: 35%;

	padding: 5%;
}

.espaciado{
	letter-spacing: 1.5px;
}


.videoDiv{
	position: absolute;
	width: 65%;
	background-image: url();
}
.ocultar{
	display: none;
}
.bck{
	display: block;
}
.inline-bck{
	display: inline-block;
}
.flotarDer{
	float: right;
}
.limpiarDer{
	clear: right;
}
.flotarIz{
	clear: left;
}
